@model IEnumerable<CoffeeTraderAPI.Models.Stock>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/MainPage.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New Stock</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Token">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Token">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Token">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
